@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,700&display=swap');

html{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

#logo{
    text-align: center;
    font-size: 20px;
    background-color: #444654;
    color: white;
    padding: 1rem;
}

.positions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 25px;
    padding: 20px;
    gap: 1rem;
    background-color:  #71c7ec;
    color: white;
}

.positions a{
    color: white;
}

.plan{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 25px;
    padding: 20px;
    gap: 1rem;
    background-color: #439d96;
}

.plan a{
    color: white;
}
a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    align-items: center;
    margin-bottom: 2rem;
}

.tasks-list{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #71c7ec;
}
li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    font-size: 18px;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
};

.btn{
    display: flex;
    margin-left: 0;
}

p{
    display: flex;
}
